@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap");

body {
  font-family: "Barlow", sans-serif;
  line-height: 1.7;
  color: #516171;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  color: #092032;
}

a {
  color: #092032;
  text-decoration: none;
  transition: all 0.4s ease;
  font-weight: 500;
}

img {
  width: 100%;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-cover {
  background-position: center !important;
  background-size: cover !important;

}
.intro{
  margin-bottom: 40px;
}
.intro h6{
  font-weight: 400;
  color: #ff4d29;
}
.intro p{
  max-width: 500px;
  margin: auto;
}

/* navbar */
.top-nav {
  background-color: #ff4d29;
  padding-top: 5px;
  padding-bottom: 5px;
}

.top-nav p {
  margin-bottom: 0;
  display: inline-block;
  margin-right: 16px;
  color: #ffff;
}

.top-nav i,
.top-nav span {
  vertical-align: middle;
}

.social-links a {
  width: 34px;
  height: 34px;
  background-color: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 20px;
  border-radius: 100%;
}

.social-links a:hover {
  background-color: #ffffff;
  color: #ff4d29;
}

.navbar {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active {
  color: #ff4d29;
}

.navbar-brand {
  font-weight: 700;
  font-size: 26px;
  color: #092032;
}

.navbar-brand span {
  color: #ff4d29;
}

.btn {
  padding: 9px 24px;
  font-weight: 500;
}

.btn-brand {
  background-color: #ff4d29;
  color: #ffffff;
  border-color: #ff4d29;
}

.btn-brand:hover {
  color: #ffffff;
  background-color: #ff4d29a8;
}

/* slider */
.slide1 {
  background-image: linear-gradient(rgba(22, 22, 22, 0), rgba(22, 22, 22, 0.6)), url('../img/bg_banner2.jpg');

}

.slide2 {
  background-image: linear-gradient(rgba(22, 22, 22, 0), rgba(22, 22, 22, 0.6)), url('../img/bg_banner1.jpg');

}

/* carousel */
.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  width: 60px !important;
  height: 60px !important;
  display: grid;
  place-items: center;
  background-color: #eddedeca !important;
  margin-top: -30px;
  color: aliceblue !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  border-radius: 100px !important;

}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;

}

.owl-prev:hover,
.owl-next:hover {
  background-color: #ff4d29 !important;
}

/* infobox */
.info-box {
  display: flex;
  align-items: center;
}

.info-box img {
  width: 90px;
  margin-right: 24px;
}

/* milestone */
#milestone {

  background-image: linear-gradient(rgb(252, 96, 34), rgba(240, 61, 16, 0.938)), url('../img/bg_banner2.jpg');
  width: 100%;
  height: auto;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;

}

#milestone .display-4,
#milestone p {
  color: #ffffff;
  font-weight: 700;

}
/* service */
.service-box{
  padding: 32px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);

}
.service-box img{
  width: unset;
  
}
.service-box h5{
  margin-top: 24px;
  margin-bottom: 12px;

}
/* project */
.project{
  position: relative;
}
.project .overlay{
  position: absolute;
  background: linear-gradient(to bottom, rgba(28, 147, 245, 0.08),rgba(28, 147, 245, 0.08));
  width: 100%;
  bottom: 0;
  left: 0;
  height: 340px;
}
.project .content{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 32px;
  

}
.project h3,h6{
  color: aliceblue;

}

.project h6::before{
  content: '';
  height: 2px;
  width: 24px;
  background-color: #ff4d29;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}
#project-slider .owl-prev,
#project-slider .owl-next{
  background-color: #ff4d29 !important;
}

/* team */
.team-member .image{
  
  position: relative !important;
    z-index: 2;
    overflow: hidden;
  
}
.team-member.social-icons {
  position: absolute !important;
  top: 0;
}
.team-member{
  text-align: center;
}
.team-member .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -10%;
  background-color: rgba(255, 77, 41, 0.7);
  opacity: 0;
  transition: all 0.4s ease;
}
.team-member .social-links a {
  width: 40px;
  height: 40px;
}

.team-member:hover .social-links {
  top: 50%;
  opacity: 1;
}


.team-member:hover .overlay {
  top: 0%;
  opacity: 1;
}

/* footer */
footer {
  background: linear-gradient(0deg, rgba(8, 32, 50, 0.9), rgba(8, 32, 50, 0.9)), url(../img/bg_banner1.jpg), #082032;;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

footer .footer-top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 20px;
  padding-top: 20px;
}

footer .navbar-brand {
  color: #fff;
}

footer p {
  color: #ADB3B9;
}

footer .social-icons a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-left: 4px;
  margin-right: 4px;
}
